html {
    height: 100%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: calc(100% - 16px);
    position: relative;
    top: -6px;
    background-color: rgb(221, 221, 221);
}

#title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.title-text {
    text-align: center;
    color: black;
}

.title-logo {
    width: 116px;
    height: 52px;
}

.tab-container {
    width: 100%;
    text-align: center;
}

.button-container {
    width: 100%;
}

.tab-button {
    height: 50px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid darkgray;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    transform: translateY(1px);
    transition: none
}

.tab-button:hover {
    background-color: rgb(221, 221, 221) !important;
    text-shadow: 1px 0px 0px black;
    transform: translate3d(0, -4px, 0);
    outline: 1px solid darkgray !important;
    outline-offset: -1px;
}

.tab-panel {
    display: none;
    padding: 56px 18px;
    height: 60%;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    margin: auto;
    min-width: 650px;
    /* animation-name: to-left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(500); */
}

/* @keyframes to-left {
    0%{transform: none;}
    100%{transform: translateX(-500px);}  
} */

.panel-shadow {
    box-shadow: 2px 2px 1px 1px rgba(189, 189, 189, 0.8);
}

.panel-border {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.panel-column {
    background-color: #e1e1e1;
    border-radius: 10px;
    margin: 0 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.column-title-div {
    height: 48px;
    line-height: 48px;
    background-color: rgba(255, 90, 23, 0.9);
}

.top-border-radius {
    border-radius: 10px 10px 0 0;
}

.column-title {
    margin-bottom: 16px;
    font-size: 20px;
    color: white;
}

.att-form {
    padding: 12px 8px;
    text-align: center;
    min-width: 270px;
}


.inner-att-form {
    padding: 5px 5px;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;

}

.inner-att-form:hover {
    outline: 1px solid darkgray;
    outline-offset: -1px;
}

#move-order-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* width: auto; */
}

#new-asset-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* width: auto; */
}

#login-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* width: fit-content; */
}

#notification-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* width: fit-content; */
}

#notification-message {
    text-align: left;
    width: fit-content;
    margin: 4px auto;
}


label {
    padding-right: 4px;    
}

input[type="text"], textarea {
    background-color: #e1e1e1;
    border-width: 0px 0px 0px 0px;
    border-color: darkgray;
    width: 0;
    transition: width 1s;
    transition-timing-function: cubic-bezier(.11, .69, .58, 1);
}

input:focus {
    outline: none;
    border-width: 0px 0px 1px 0px;
    border-color: black;
}

.sender-button {
    border-radius: 5px;
    border-color: lightgray;
    margin: 24px 0px 0px 0px;
    width: 64px;
    height: 32px;
    font-size: 14px;
}

#log-panel {
    width: calc(100% - 128px);
    height: fit-content;
    position: absolute;
    bottom: 104px;
    margin: 8px 64px;
    min-height: 10%;
    max-height: 256px;
    border-radius: 5px;
    display: none;
}

.log-title {
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    width: calc(100% - 8px);
    background-color: rgba(255, 78, 2, 0.8);
    color: white;
    padding-left: 8px;
    border-radius: 5px 5px 0 0;
}


.log-body {
    background-color: #e1e1e1;
    min-height: 48px;
    border-radius: 0 0 5px 5px;
    padding: 8px;
}